---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title::before {
    content: url("https://s.gravatar.com/avatar/29df189af8c5f115b13d32b1d7b30fa2?s=64");
    position: relative;
    top: 24px        
}